# ************************************************************************************************
# Warning: YAML source code for Canvas Apps should only be used to review changes made within Power Apps Studio and for minor edits (Preview).
# Use the maker portal to create and edit your Power Apps.
#
# The schema file for Canvas Apps is available at https://go.microsoft.com/fwlink/?linkid=2304907
#
# For more information, visit https://go.microsoft.com/fwlink/?linkid=2292623
# ************************************************************************************************
Screens:
  scrSettings:
    Properties:
      Fill: |+
        =varTheme.Background
      LoadingSpinnerColor: =RGBA(98, 100, 167, 1)
    Children:
      - cmpHeader_Settings:
          Control: CanvasComponent
          ComponentName: cmpHeader
          Properties:
            Height: =84
            ShowBackBtn: =false
            SubTitle: =varUserDisplayName
            Title: ="More"
            Width: =App.Width
      - cmpBottomNav_Settings:
          Control: CanvasComponent
          ComponentName: cmpBottomNav
          Properties:
            ActiveKey: ="More"
            Height: =72
            Width: =App.Width
            Y: =Parent.Height - Self.Height
      - cnrSettingsContent:
          Control: GroupContainer@1.4.0
          Variant: ManualLayout
          Properties:
            Fill: =Color.Transparent
            Height: =Parent.Height - cmpHeader_Settings.Height - cmpBottomNav_Settings.Height
            PaddingBottom: =0.00
            PaddingLeft: =0.00
            Width: =Parent.Width
            Y: =cmpHeader_Settings.Height
          Children:
            - cnrUserCard:
                Control: GroupContainer@1.4.0
                Variant: ManualLayout
                Properties:
                  Fill: =varTheme.Surface
                  Height: =100
                  PaddingBottom: =0.00
                  PaddingLeft: =0.00
                  RadiusBottomLeft: =16
                  RadiusBottomRight: =16
                  RadiusTopLeft: =16
                  RadiusTopRight: =16
                  Width: =Parent.Width - 32
                  X: =16
                  Y: =16
                Children:
                  - icoUser:
                      Control: Icon@0.0.7
                      Properties:
                        Height: =44
                        Icon: ="Person"
                        IconColor: =varTheme.Primary
                        Width: =44
                        X: =16
                        Y: =28
                  - lblUserName:
                      Control: Label@2.5.1
                      Properties:
                        Color: =varTheme.TextPrimary
                        FontWeight: =FontWeight.Bold
                        Height: =26
                        PaddingBottom: =2
                        PaddingLeft: =2
                        Size: =16
                        Text: =varUserDisplayName
                        Width: =Parent.Width - 88
                        X: =72
                        Y: =14
                  - lblUserEmail:
                      Control: Label@2.5.1
                      Properties:
                        Color: =varTheme.TextSecondary
                        Height: =20
                        PaddingBottom: =2
                        PaddingLeft: =2
                        Size: =12
                        Text: =varUserEmail
                        Width: =Parent.Width - 88
                        X: =72
                        Y: =42
                  - lblUserLocation:
                      Control: Label@2.5.1
                      Properties:
                        Color: =varTheme.TextTertiary
                        Height: =18
                        PaddingBottom: =2
                        PaddingLeft: =2
                        Size: =11
                        Text: =varUserAssociate.Location
                        Width: =Parent.Width - 88
                        X: =72
                        Y: =64
            - lblQuickLinksTitle:
                Control: Label@2.5.1
                Properties:
                  Color: =varTheme.TextPrimary
                  FontWeight: =FontWeight.Semibold
                  Height: =28
                  PaddingBottom: =2
                  PaddingLeft: =2
                  Size: =14
                  Text: ="Quick Links"
                  Width: =Parent.Width - 32
                  X: =16
                  Y: =132
            - btnGoMyReservations:
                Control: Button@0.0.45
                Properties:
                  Appearance: ="Secondary"
                  Height: =52
                  OnSelect: =Navigate(scrMyReservations, ScreenTransition.Fade)
                  Text: |-
                    ="My Reservations"
                  Width: =Parent.Width - 32
                  X: =16
                  Y: =168
            - btnGoGasPurchases:
                Control: Button@0.0.45
                Properties:
                  Appearance: ="Secondary"
                  Height: =52
                  OnSelect: =Navigate(scrGasPurchase, ScreenTransition.Fade)
                  Text: ="Log Fuel Purchase"
                  Width: =Parent.Width - 32
                  X: =16
                  Y: =228
            - btnGoFuelHistory:
                Control: Button@0.0.45
                Properties:
                  Appearance: ="Secondary"
                  Height: =52
                  OnSelect: =Navigate(scrFuelHistory, ScreenTransition.Fade)
                  Text: |-
                    ="Fuel History"
                  Width: =Parent.Width - 32
                  X: =16
                  Y: =288
            - btnGoVehicles:
                Control: Button@0.0.45
                Properties:
                  Appearance: ="Secondary"
                  Height: =52
                  OnSelect: |-
                    =Set(varFilterStatus, "All");
                    Navigate(scrVehicleList, ScreenTransition.Fade)
                  Text: |-
                    ="All Vehicles"
                  Width: =Parent.Width - 32
                  X: =16
                  Y: =348
            - btnGoMaintenanceRequest:
                Control: Button@0.0.45
                Properties:
                  Appearance: ="Secondary"
                  Height: =52
                  OnSelect: |-
                    =Set(varMaintVehicle, Blank());
                    Navigate(scrMaintenanceRequest, ScreenTransition.Fade)
                  Text: |-
                    ="Report an Issue"
                  Width: =Parent.Width - 32
                  X: =16
                  Y: =408
            - cnrAbout:
                Control: GroupContainer@1.4.0
                Variant: ManualLayout
                Properties:
                  Fill: =varTheme.Surface
                  Height: =90
                  PaddingBottom: =0.00
                  PaddingLeft: =0.00
                  RadiusBottomLeft: =16
                  RadiusBottomRight: =16
                  RadiusTopLeft: =16
                  RadiusTopRight: =16
                  Width: =Parent.Width - 32
                  X: =16
                  Y: =476
                Children:
                  - lblAboutTitle:
                      Control: Label@2.5.1
                      Properties:
                        Color: =varTheme.TextPrimary
                        FontWeight: =FontWeight.Semibold
                        Height: =24
                        PaddingBottom: =2
                        PaddingLeft: =2
                        Size: =14
                        Text: ="CFS Tribal Vehicle Usage"
                        Width: =Parent.Width - 32
                        X: =16
                        Y: =12
                  - lblAboutVersion:
                      Control: Label@2.5.1
                      Properties:
                        Color: =varTheme.TextSecondary
                        Height: =20
                        PaddingBottom: =2
                        PaddingLeft: =2
                        Size: =11
                        Text: ="Choctaw Nation EPS  \U+2022  v2.0"
                        Width: =Parent.Width - 32
                        X: =16
                        Y: =38
                  - lblAboutRedesign:
                      Control: Label@2.5.1
                      Properties:
                        Color: =varTheme.TextTertiary
                        Height: =18
                        PaddingBottom: =2
                        PaddingLeft: =2
                        Size: =11
                        Text: ="Mobile-First Redesign"
                        Width: =Parent.Width - 32
                        X: =16
                        Y: =60
